//
// user-variables.scss
// Use this to overwrite Bootstrap and Dashkit variables
$font-family-sans-serif: 'Merriweather Sans',
-apple-system,
BlinkMacSystemFont,
'Segoe UI',
Roboto,
'Helvetica Neue',
Arial,
sans-serif;
$cyan: #0091ea;
$black: #030632;
$midnight-black: $black;
$purple: #54008f;
$indigo: #21226b;
