// Write or add all the variables you are
// looking forward to use a lot in the application
$white: #ffffff;
$orange: #f39c12;
$light-grey: #ededed;
$black: #030623;
$red: #d82e2f;
$grey: #232323;
$green: #2ecc71;
$blue: #0091ea;
$yellow: #ffde00;
$width4: 100%;
$height0: 100%;
$iterations: 5;
